.pagination{
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.pagination button{
    margin:5px;
    padding:8px 15px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
}

.pagination button:hover{
    background:#0056b3;
}